@import "./base";
.chart {
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: $color-primary-light-1;
  border-radius: 20px;
  display: grid;
  justify-content: center;
  align-content: center;

  &__noPadding {
    padding: 0px !important;
    background-color: white;
  }
}

.leaflet-container {
  height: 30vw !important;
  width: 77vw !important;
  border-radius: 20px !important;

  @media only screen and (max-width: 770px) {
    width: 93vw !important;
    height: 55vw !important;
  }
}
